.FixedStyle {
    background-size: 1200px;
}

.GridStyle {
    background-color: white;
    display:flex;
    justify-content:flex-end;
}

.DivLogoStyle {
    background-image: url('../images/titlelogo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5;     
    background-size: 1000px;
}

.DivTitleStyle {
    background-image: url("../images/movingfurniture.jpg");
    background-size: 95%;
    background-position: center;
    border-radius: 5px 0 5px 5px;
    background-repeat: no-repeat;
    padding-left: 30;
}