.CoverHomeStyle {
    background-image: url('../../screens/images/sydney-21.jpg');
    background-position: center;
    background-size: 1200px;
    background-repeat: no-repeat;

}

.DivContStyle {
    background-repeat: no-repeat;
    padding-top: 8%;
    padding-bottom: 14%;
  
}

.DivLogoStyle {
    background-size: 13.5%;
    background-position-x: 5%;
    background-position-y: 45%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1%;
    
    
}

.LogoStyle {
    background-image: url('../images/titlelogo.png');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.19);
    
}

.LogoColor{
    color: #be353d;
    
}