.FixedStyle {
    background-size: 1200px;
    padding-left: 1.3%;
    padding-right: 1.3%;
}

.DivLogoStyle {
    background-image: url('../images/titlelogo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5;     
    background-size: 1000px;
}

.DivTitleStyle {
    background-image: url("../images/movingfurniture.jpg");
    background-size: 95%;
    background-position: center;
    border-radius: 5px 0 5px 5px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.TitleStyle {
    padding-top: 180px; 
    padding-right: 280px; 
    text-align: start; 
    margin-left: 40px; 
    padding-bottom: 10px;
}

.ColorTitleStyle {
    color: #be353d;
}